<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2014-04-08-onenote-updated.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401201</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-20-trust-google.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04402</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-21-nasa-spacex.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401898</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-22-blogging-with-github-pages.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401898</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-22-filebeat-yml.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401797</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-08-seriously-adobe.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401797</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-12-really-google.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401797</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-19-os-names.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401702</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-21-my-new-bliss.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401702</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-25-oh-elasticsearch.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.044016</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-28-oh-oracle.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.044016</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-28-ifttt-pinboard.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401499</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-29-github-pages-changing.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401499</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-31-babypro-bigpro.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401499</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-02-nifty-ipad-things.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401398</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-05-ipad-cellular-switch.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401398</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-06-fountain.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401302</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-08-apple-store-inventory.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401302</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-01-deploying-filebeat-on-macos.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505455361.04401302</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>the-view-from-the-trenches.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505456267.42040598</real>
				<key>version</key>
				<dict>
					<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
					<integer>11</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>505455390.44935501</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2014-04-08-onenote-updated.markdown</string>
		</array>
		<array>
			<string>the-view-from-the-trenches.markdown</string>
		</array>
		<array>
			<string>2016-06-01-deploying-filebeat-on-macos.markdown</string>
		</array>
		<array>
			<string>2016-04-08-apple-store-inventory.markdown</string>
		</array>
		<array>
			<string>2016-04-06-fountain.markdown</string>
		</array>
		<array>
			<string>2016-04-05-ipad-cellular-switch.markdown</string>
		</array>
		<array>
			<string>2016-04-02-nifty-ipad-things.markdown</string>
		</array>
		<array>
			<string>2016-03-31-babypro-bigpro.markdown</string>
		</array>
		<array>
			<string>2016-03-29-github-pages-changing.markdown</string>
		</array>
		<array>
			<string>2016-03-28-ifttt-pinboard.markdown</string>
		</array>
		<array>
			<string>2016-01-28-oh-oracle.markdown</string>
		</array>
		<array>
			<string>2016-01-25-oh-elasticsearch.markdown</string>
		</array>
		<array>
			<string>2016-01-21-my-new-bliss.markdown</string>
		</array>
		<array>
			<string>2016-01-19-os-names.markdown</string>
		</array>
		<array>
			<string>2016-01-12-really-google.markdown</string>
		</array>
		<array>
			<string>2016-01-08-seriously-adobe.markdown</string>
		</array>
		<array>
			<string>2015-12-22-filebeat-yml.markdown</string>
		</array>
		<array>
			<string>2015-12-22-blogging-with-github-pages.markdown</string>
		</array>
		<array>
			<string>2015-11-21-nasa-spacex.markdown</string>
		</array>
		<array>
			<string>2015-07-20-trust-google.markdown</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
			<integer>11</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>82f248aa52ceb583f80eaa94572281019956ba2189259e8483f1eebf862266cf</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
